#header{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 400px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color:white;
}

#search-city {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }